/* Configuração da parte estética do interior do carrrinho de compras*/

.cart-items{
    margin:30px auto;
    width: 50%;
    
    
    border-radius: 5px;

}

.cart-items-navbar{
     display:flex;
     justify-content: space-around;
     align-items:center;
     font-size:20px;
     height:50px;
     border-bottom:2px solid black;

}

.cart-items-empty{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    font-weight:700;
    padding-top: 20px;
    padding-bottom:20px;
}

.cart-items-image{
    width:100px;
    height:auto;
    border:2px solid black;
    margin-right:10px;

}

.cart-items-list{
    display:flex;
    align-items:center;
    padding-top:20px;
    padding-left:20px;
    padding-bottom:20px;
    font-size:20px;
    font-weight:700;
    margin-left:5%

}
.cart-items-name,
.cart-items-function{
    width: 25%

}
.cart-items-reset,
.cart-items-add,
.cart-items-remove{
    width: 30px;
    margin-right:15px;
    font-weight:700;
    border:none;
    border-radius:3px;
    font-size:15px;
    color:white;
    cursor:pointer;



}

.cart-items-add{
    background-color:rgba(16, 16, 16, 0.975);
}

.cart-items-remove{
    background-color:rgb(0, 0, 0);

}
.cart-items-reset{
    background-color:rgb(0, 0, 0);
}

.cart-items-add:active{
   transform:translateY(1.2px);
}

.cart-items-remove:active{
    transform:translateY(1.2px);
}

.cart-items-total-price-name{
   display:flex;
   padding-top:20px;
   padding-bottom:20px;
   padding-left:36%;
   font-size :20px;
   font-weight :700;
   border-top: 2px solid black;


}

.cart-Items-total-price{
    display:flex;
    padding-left:15%;
    
    

}


  .checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:none;
    border-radius:5px;
    background-color: rgb(15, 14, 14);
    height: 50px;
    width:120px;
    font-size: 18px;
    color:white;
    text-decoration: none;
    margin: auto;
  }
  
  

  .form-field {
    margin-bottom: 10px; 
  }
 
 
  .payment-form-heading {
    margin-bottom: 20px; 
  }

  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  