

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }
  
  .profile-content {
    text-align: center;
  }
  
  .user-icon {
    font-size: 100px;
    margin-bottom: 20px;
  }